h1 {
	font-size: 3em;
	text-align: left;
	float: left;
	color: #66000;
}
h3 {
	color: #645A4C;
	font-size: 2em;
}
h4 {
	color: #000;
	text-align: center;
}
.header {
	height: 20%;
}

.logo {
	position: top-left;
	width: 10%;
	float: left;
}

.navbar {
	color: #66000;
	float: left;
	width: 100%;
}

.footer {
    bottom: -50px;
    height: 50px;
    position: relative;
    text-align: center;
 }

.linkBoxes {
	color: #722f37;
	float: left;
	/*position: relative;*/
	display: block;
}
.topRow .bottomRow {
    margin-left: auto;
    margin-right: auto;
}

body {
	background-image: url("../img/brickwall.png");
	font-family: Book Antiqua, Helvetica Neue, Helvetica, Arial,sans-serif;
	background-position: center;
	padding: 3em;
	color: #722f37;
}
.form-group {
	position: relative;
	color: black;
}
.btn {
	background-color: #722f37;
	border-color: darkgrey;
	color: white;
}
.cat-title {
	color: #b29366;
}
.footer a { 
	color:#999; line-height: 175%; 
} 

.footer a:link {
	outline:none; text-decoration:none; 
}

.footer a:visited {
	outline:none; text-decoration:none;
}

.footer a:hover { 
	text-decoration:underline; font-weight:normal; 
}
.createAd {
	text-align: right;
}
.footer {
	color: black;
}
.createAd {
	background-color: #fff;
	color: black;
}
.post {
	color: black;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.insertAd {
	margin-top: 10em;	
}
.adShow {
	margin-top: 5em;
}
.showForm {
	color: #000;
}


