h1 {
	font-size: 3em;
	text-align: center;
	text-indent: 5em;	
	color: #2C2C2C;
}
h3 {
	color: #645A4C;
}
.header {
	background-image: url("../img/winesellerLogo.png");
	background-padding: 1em;
	background-size: 25%;
	background-position: top-left;
	background-repeat: no-repeat;
	border: 0.1em solid #645A4C;
}
.navbar {
/*	light stone color: #B7AFA3;*/
	/*background-color: #B7AFA3;*/
	color: #645A4C;
}

.footer {
    bottom: -50px;
    height: 50px;
    position: relative;
    text-align: center;
    }

.linkBoxes {
	color: #722f37;
}
body {
	background-image: url("../img/brickwall.png");
	/*background-image: url("../img/wineCellarBackground.jpg");*/
	/*background-image: url("../img/filterEffectsWineCellar.png");*/
	font-family: Book Antiqua, Helvetica Neue, Helvetica, Arial,sans-serif;
	/*background-size: 50%;*/
	/*background-repeat: no-repeat;*/
	background-position: right;
	/*margin-bottom: 320px;
	margin-right: 100px;*/
	padding: 3em;
	/*background-color: #d9c4aa;*/
	/*background-color: #722f37;*/
	color: #722f37;
	/*color: #darkgrey;*/
}
.intro {
	font-size: 3em;
	font-style: bold;
	color: #4F2412;
	background-color: #F2E7D2;
	border: 0.25em solid #b29366;

	/*background-color: #988A7F;*/
/*	background-color: #F2E7D2;
*/
/*#F2E7D2
*/
	/*#44413C*/
}
.btn {
	background-color: #722f37;
	border-color: darkgrey;
	color: white;
}
.cat-title {
	color: #b29366;
}


